.App {
  text-align: center;
}

.App-logo {
  height: 25vmin; /* Reducimos más el tamaño del logo */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 1.2vmin); /* Reducimos más el tamaño del texto */
  color: white;
  transform: scale(0.5); /* Hacemos un zoom out más fuerte */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Ajustes para pantallas grandes */
@media (min-width: 1024px) {
  .App-header {
    transform: scale(0.4); /* Zoom out aún más fuerte en pantallas grandes */
  }
}
