.table-container {
  margin: 20px auto;
  padding: 15px;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  width: 100%;
  overflow: hidden; /* Evita desbordamientos */
}

.table-container h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.table-wrapper {
  width: 100%;
}

.table {
  width: 100%;
  table-layout: fixed; /* Ajusta el tamaño de las columnas automáticamente */
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #dee2e6;
  font-size: 16px;
  color: #333;
  word-wrap: break-word; /* Permite que el texto se ajuste dentro de la celda */
  white-space: normal; /* Evita que el texto fuerce una barra de desplazamiento */
}

.table th {
  background-color: #007bff;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.table tr:hover {
  background-color: #e2e6ea;
  transition: background-color 0.3s ease;
}

.table-container .open-modal-button {
  margin-top: 20px;
  display: block;
  width: 100%;
  max-width: 300px;
  text-align: center;
  padding: 12px;
  background: #28a745;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.open-modal-button:hover {
  background: #218838;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .table-container {
    padding: 10px;
  }

  .table-container h1 {
    font-size: 20px;
  }

  .table {
    font-size: 14px;
  }

  .table th,
  .table td {
    padding: 10px;
    font-size: 14px;
  }

  .table-container .open-modal-button {
    font-size: 14px;
    padding: 10px;
  }
}

/* Estilos de filas según el estado del alumno */
.row-present-enrolled {
  background-color: #d4edda; /* Tono verdozo */
}

.row-not-enrolled {
  background-color: #ea848c; /* Tono rojizo */
}

.row-enrolled-not-present {
  background-color: #ffffff; /* Normal o neutro */
}
